/* elements */
body, select, input, textarea {
	color: $text; /* off black */
	font-family: Arial, Helvetica,sans-serif;
	font-size: 12px;
}

* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	// FIXME: Change this to the right path
	*behavior: url(/templates/default/resources/boxsizing.htc); // IE7 only
}


/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-family: "Arial Narrow";
	font-weight: bold;
	color: $green;
	margin-bottom: .67em;
}

h1, 
.module h3 { 
	font-size: 24px;
}

.item-page h1,
.slideshow h1 {
	color: #fff;
}

.item-page h1 {
	margin: -50px 0 45px;
	font-weight: normal;
	
	.home & {
		margin: .67em 0;
		color: $green;
		font-weight: bold;
	}
}

h2 { 
	font-size: 18px; 
}

h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }
h5 { font-size: 1.2em; }
h6 { font-size: 1.0em; }

a, a:active, a:visited {
	color: $text;
	text-decoration: none;
}
a:hover {
	color: $gold;
	text-decoration: underline;
}