body {
	border-top: 5px solid $green;
	background: url('../images/bg_footerRepeat.jpg') repeat;
}

#wrapper {
	min-width: 960px;
	background-color: white;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	padding: 17px 0 37px;
	text-align: center;
}

#masthead {
	height: 280px;
	background: url('../images/bg_mastheadRepeat.jpg') top center repeat-x;
}

#sidebar1 {
	float: left;
}