body {
	border-top: 5px solid $green;
	background: url('../images/bg_body.jpg') repeat;
}

#wrapper {
	min-width: 960px;
	background-color: white;
	position: relative;
}

.container {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	
	#main & {
		background: url('../images/bg_mainRepeat.png') top center repeat-y;
	}
}

#header {
	padding: 17px 0 37px;
	text-align: center;
}

#masthead {
	height: 280px;
	background: url('../images/bg_mastheadRepeat.jpg') top center repeat-x;
}

#main {
	background: url('../images/bg_footerShadow.png') bottom center no-repeat;
}

#sidebar1 {
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 234px;
	margin-left: -484px;
	
	> div {
		height: 100%;
		padding: 108px 10px 92px;
	}
	
	> div > div {
		width: 234px;
		height: 100%;
		margin: -8px 0 0;
		background: url('../images/bg_menuTop.png') left top no-repeat;
		padding-top: 26px;
	}
	
	> div > div > div {
		height: 100%;
		background: url('../images/bg_menuMiddle.png') left top repeat-y;
		position: relative;
	}
}

#comp {
	float: left;
	width: 460px;
	padding: 0 20px 0 10px;
}

#sidebar2 {
	float: left;
	width: 220px;
	padding: 0 0 20px 0;
	border-left: 1px solid $border;
	background: url('../images/bg_sidebar.jpg') top left no-repeat;
}

#footer {
	background: url('../images/bg_footerRepeat.jpg') top center repeat-x;
	padding: 20px 0;
	font-size: 10px;
	color: white;
	
	a {
		color: white;
	}
}