body {
	border-top: 5px solid $green;
	background: url('../images/bg_footerRepeat.jpg') repeat;
}

#wrapper {
	min-width: 960px;
	background-color: white;
}

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
}

#header {
	padding: 17px 0 37px;
	text-align: center;
}

#masthead {
	height: 280px;
	background: url('../images/bg_mastheadRepeat.jpg') top center repeat-x;
}

#sidebar1 {
	float: left;
	width: 234px;
	margin: -8px 0 0 -4px;
	background: url('../images/bg_menuTop.png') left top no-repeat;
	
	> div {
		background: url('../images/bg_menuMiddle.png') left top repeat-y;
		margin-top: 26px;
	}
}

#comp {
	float: left;
	width: 460px;
	padding: 0 20px 0 10px;
}

#sidebar2 {
	float: left;
	width: 220px;
	padding: 0 0 20px 0;
	border-left: 1px solid $border;
	background: url('../images/bg_sidebar.jpg') top left no-repeat;
}
}