// @group vmenu
.vmenu {
	font-weight: bold;
	line-height: 30px;
	padding: 26px 0 0 0;
	width: 233px;
	background: url('../images/bg_menuTop.png') left top no-repeat;
	margin-top: -8px;
	
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		background: url('../images/bg_menuMiddle.png') left top repeat-y;
		
		li {
			font-size: 12px;
			background-image: none;
			padding-right: 10px;
		}
	}
	
	a {
		padding: 0 10px;
		color: $text;
		&:hover {
			color: $gold;
			text-decoration: none;
		}
	}

	ul ul { // submenus
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
