// @group vmenu
.vmenu {
	font-size: 14px;
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	
	.menu {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	li {
		padding: 0 17px;
		
		li {
			font-size: 12px;
			background-image: none;
		}
	}
	
	a {
		color: $text;
		&:hover {
			color: $gold;
			text-decoration: none;
		}
	}

	ul ul { // submenus
		margin: 0;
		padding: 0;
		list-style: none;
	}
}
