// @group modules
.module {} // DO NOT TOUCH

#masthead .module {
	margin-left: 240px;
}

.module.slideshow {
	font-size: 12px;
	padding: 0;
	color: white;
	overflow: auto;
	
	h3 {
		color: #fff;
	}
}

#sidebar2 .module {
	padding: 16px 0 18px 20px;
	background: url('../images/divider-sidebar2.jpg') top left no-repeat;
	&:first-child {
		background: none;
	}
	
	h3 {
		margin-top: 0;
	}
}

.module.logo-bottom {
	position: absolute;
	left: 25px;
	bottom: 0;
}