// @group modules
.module {} // DO NOT TOUCH

#masthead .module {
	margin-left: 250px;
}

.module.slideshow {
	font-size: 12px;
	padding: 0;
	color: white;
	overflow: auto;
	
	h3 {
		font-weight: lighter;
		color: #fff;
	}
}

.module.page-title {
	height: 76px;
	position: relative;
	
	img {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

#sidebar2 .module {
	padding: 16px 0 18px 20px;
	background: url('../images/divider-sidebar2.jpg') top left no-repeat;
	&:first-child {
		padding-top: 26px;
		background: none;
	}
	
	h3 {
		margin: 0 0 .4em;
	}
}

.module.logo-bottom {
	position: absolute;
	left: 25px;
	bottom: 0;
	margin: 1em 0;
}

.copyright {
	padding-bottom: 42px;
	background: url('../images/logo_imprint.jpg') bottom center no-repeat;
}